Checks:                 'clang-diagnostic-*,clang-analyzer-*,cppcoreguidelines-*,'
WarningsAsErrors:       true
HeaderFilterRegex:      ''
AnalyzeTemporaryDtors:  false
FormatStyle:            none
User:                   user
CheckOptions:
